$common-margin: 15px;

#card-container {
    margin: $common-margin;
    display: flex;
    flex-wrap: wrap;
    gap: $common-margin;
    .card {
        flex: 1 1 500px;
        height: 300px;
        background-color: $dark-color;
        border-radius: 20px;
        display: flex;
        &-image {
            width: 40%;
            height: 100%;
            background: {
                size: cover;
                repeat: no-repeat;
                position: center;
            }
        }
        &-content {
            width: 60%;
            padding: 10px;
        }
        &-title {
            margin-bottom: 0;
            color: $secondary-color;
            font: {
                size: 32px;
                weight: bold;
            }
        }
        &-info {
            margin-top: 10px;
            color: $info-color;
        }
        &-body {
            color: $primary-color;
        }
    }
}

#image {
    &-1 { background-image: url('/img/volcan1.jpeg'); }
    &-2 { background-image: url('/img/volcan2.jpeg'); }
    &-3 { background-image: url('/img/volcan3.jpeg'); }
    &-4 { background-image: url('/img/volcan4.jpeg'); }
}