body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#map {
    width: 50vw;    
    height: 100vh;
    background-image: url(./img/mapa.webp);
    background-size: cover;
}

.realm {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.151);
    transform: translate(-50%, -50%);
    position: absolute;
}

.realm:hover {
    background-color: rgba(255, 255, 255, 0.555);
}   

#mordor {
    top: 73%;
    left: 69%;
    width: 10%;
    height: 20%;
}

#rohan {
    top: 53%;
    left: 53%;
    width: 20%;
    height: 20%;
}

#gondor {
    top: 75%;
    left: 53%;
    width: 20%;
    height: 20%;
}